</div><!-- /.container -->

<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; MonBonAppart | <a href="/annonces">Accueil</a> | <a href="/annonces/new">Nouvelle annonce</a> | <a href="#">Crédits</a></p>
  </div>
</footer>
<!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Font awsome JS CDN -->
<script src="https://use.fontawesome.com/7e86776abd.js"></script>
</body>
</html>

<script>
  $("#jaune").click(function(){
    $('body').css('background', 'linear-gradient(135deg, #faa202, #f8de03)');
    $('body').css('background-color', '#facb03');
    $('body').css('background-attachment', 'fixed');
  })
  $("#bleu").click(function(){
    $('body').css('background', 'linear-gradient(135deg, #172a74, #21a9af)');
    $('body').css('background-color', '#184e8e');
    $('body').css('background-attachment', 'fixed');
  })
  $("#vert").click(function(){
    $('body').css('background', 'linear-gradient(135deg, #009927, #7ecc52)');
    $('body').css('background-color', '#019729');
    $('body').css('background-attachment', 'fixed');
  })
</script>