<% include ./partials/header %>
<div class="row">
    <h1 style="text-align: center">Crédits</h1>
    <div style="width: 30%; margin: 50px auto;">
        <b>ALLALI Kamal</b> <img src="../images/maroc.png"><br>
        <b>FOFANA Mohamed</b> <img src="../images/senegal.png"><br>
        <b>SADJI Nadjim</b> <img src="../images/algerie.png"><br>
        <b>FERHAH Samy</b> <img src="../images/algerie.png" style="margin-bottom:10px;"><br>
        <img src="../images/ESIEA.jpg" style="height:150;width:200px;margin-bottom:10px;">
        <img src="../images/cfa-ite-logo.png" style="height:150;width:200px;margin-bottom:10px;">
        <img src="../images/idf-logo.png" style="height:100;width:200px;margin-bottom:10px;"><br>
        Images : <a href="http://www.pixabay.com"  target = "_blank">Pixabay.com</a>
    </div>
</div>

<% include ./partials/footer %>