<% include ./partials/header %>
<div class="row">
    <h1 style="text-align: center">Connexion</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Nom d'utilisateur">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Mot de passe">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Se connecter</button>
            </div>
        </form>
        <a href="/annonces">Revenir à l'accueil</a>
    </div>
</div>
</div><!-- /.container -->
</div>
<footer class="footer" style="margin-top:-60px;">
  <div class="container">
    <p class="text-muted">&copy; MonBonAppart | <a href="/annonces">Accueil</a> | <a href="/annonces/new">Nouvelle annonce</a> | <a href="#">Crédits</a></p>
  </div>
</footer>
<!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Font awsome JS CDN -->
<script src="https://use.fontawesome.com/7e86776abd.js"></script>
</body>
</html>

